#!/bin/sh
set -euo pipefail

# Install Homebrew formula
{{ if eq .chezmoi.os "darwin" }}
if ! type xcode-select > /dev/null 2>&1; then
  xcode-select --install
fi

CONFIG_DIR="${XDG_CONFIG_HOME:-$HOME/.config}"

brew bundle --file "$CONFIG_DIR/homebrew/Brewfile" --no-upgrade --quiet
brew autoremove
{{ end }}
