#!/bin/zsh

# Install packages on Arch
{{ if eq .chezmoi.osRelease.idLike "arch" }}
sudo pacman -Syu --noconfirm git binutils fakeroot make gcc base base-devel
if ! type yay > /dev/null 2>&1; then
    git clone https://aur.archlinux.org/yay.git
    cd yay
    makepkg -si --noconfirm
    cd
    rm -rf yay
fi
yay -S --needed --noconfirm - < .config/yay/extra-packeges
sudo pacman -Rs --noconfirm $(pacman -Qqdt) || :
{{ end }}
