#!/bin/zsh

# Install packages on Arch
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) }}
sudo pacman -Syu --noconfirm git binutils fakeroot make gcc
if ! type yay > /dev/null 2>&1; then
    git clone https://aur.archlinux.org/yay.git
    cd yay
    makepkg -si --noconfirm
    cd
    rm -rf yay
fi
yay -S --needed --noconfirm - < .config/yay/extra-packeges
sudo pacman -Rs --noconfirm $(pacman -Qqdt) || :
{{ end }}
