#!/bin/zsh

if ! type ghq > /dev/null 2>&1; then
  go install github.com/x-motemen/ghq@latest
fi
if ! type memo > /dev/null 2>&1; then
  go install github.com/mattn/memo@latest
  mkdir "~/dev/github.com/oyoshot/_memo/_posts"
fi
