# ヒストリの設定
export HISTFILE="$XDG_STATE_HOME/zsh_history"
HISTSIZE=1000000
SAVEHIST=1000000

# オプション
setopt print_eight_bit # 日本語ファイル名を表示可能にする
setopt no_beep # beep を無効にする
setopt no_flow_control # フローコントロールを無効にする
setopt ignore_eof # Ctrl+Dでzshを終了しない
setopt interactive_comments # '#' 以降をコメントとして扱う
setopt auto_cd # ディレクトリ名だけでcdする
setopt auto_pushd # cd したら自動的にpushdする
setopt pushd_ignore_dups # 重複したディレクトリを追加しない
setopt share_history # 同時に起動したzshの間でヒストリを共有する
setopt hist_ignore_all_dups # 同じコマンドをヒストリに残さない
setopt hist_ignore_space # スペースから始まるコマンド行はヒストリに残さない
setopt hist_reduce_blanks # ヒストリに保存するときに余分なスペースを削除する
setopt extended_glob # 高機能なワイルドカード展開を使用する

bindkey '^[[1~' beginning-of-line # HOME
bindkey '^[[2~' overwrite-mode # INS
# bindkey '^[[2~' bracketed-paste  # シンプルにクリップボード貼り付けにしてしまうzsh 5.9 以降
bindkey '^[[3~' delete-char # DEL
bindkey '^[[4~' end-of-line # END
bindkey '^[[5~' history-beginning-search-backward # PageUp
bindkey '^[[6~' history-beginning-search-forward # PageDown

bindkey '^[[1;5A' up-line-or-history # Ctrl+Up
bindkey '^[[1;5B' down-line-or-history # Ctrl+Down
bindkey '^[[1;5C' forward-word # Ctrl+Right
bindkey '^[[1;5D' backward-word # Ctrl+Left

fpath=(
  $ZDOTDIR/fpath(N-/)
  $ZDOTDIR/plugins/zsh-completions/src(N-/)
  $ZDOTDIR/plugins/anyframe(N-/)
  $ZDOTDIR/zfunc(N-/)
  ~/.asdf/completions(N-/)
  $GHRED_DATA_HOME/completions(N-/)
  $XDG_DATA_HOME/zsh/completions(N-/)
  $fpath
)

# zsh-defer
source $ZDOTDIR/plugins/zsh-defer/zsh-defer.plugin.zsh

# load configs
for f ($ZDOTDIR/sync/*(N-.)) source $f
for f ($ZDOTDIR/defer/*(N-.)) zsh-defer source $f

# plugins
zsh-defer source $ZDOTDIR/plugins/autosuggestions/zsh-autosuggestions.zsh
zsh-defer source $ZDOTDIR/plugins/syntax-highlighting/zsh-syntax-highlighting.zsh
zsh-defer source $ZDOTDIR/plugins/zsh-history-substring-search/zsh-history-substring-search.zsh
zsh-defer source $ZDOTDIR/fpath/aws_zsh_completer.sh
zsh-defer source $ZDOTDIR/defer.zsh
zsh-defer source $XDG_CONFIG_HOME/op/plugins.sh

# Starship
(( ${+commands[starship]} )) && eval "$(starship init zsh)"

# load user .zshrc configuration file
if [ -f "${ZDOTDIR}/zshrc.local" ]; then
  source "${ZDOTDIR}/zshrc.local"
elif [ -f "${XDG_CONFIG_HOME}/zsh/zshrc.local" ]; then
  source "${XDG_CONFIG_HOME}/zsh/zshrc.local"
elif [ -f "${HOME}/zshrc.local" ]; then
  source "${HOME}/zshrc.local"
fi

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
ln -sf /mnt/c/Users/$(whoami)/AppData/Local/ssh-agent.sock ~/.ssh/agent.sock
export SSH_AUTH_SOCK=$HOME/.1password/agent.sock

if [ -z "$TMUX" ]; then
  cd
fi
{{   end }}
{{ end }}
